<%= form_for(@user_diary) do |f| %>
  <% if @user_diary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_diary.errors.count, "error") %> prohibited this user_diary from being saved:</h2>

      <ul>
      <% @user_diary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :diary_title %><br>
    <%= f.text_field :diary_title %>
  </div>
  <div class="field">
    <%= f.label :diary_content %><br>
    <%= f.text_field :diary_content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
