<%= form_for(@user_prof) do |f| %>
  <% if @user_prof.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_prof.errors.count, "error") %> prohibited this user_prof from being saved:</h2>

      <ul>
      <% @user_prof.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :male %><br>
    <%= f.check_box :male %>
  </div>
  <!--入力項目（血液型）追加-->
  <div class="field">
    <%= f.label :bood_type %><br>
    <%= f.select :blood_type, ["A", "B", "AB", "O"]%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
