<p id="notice"><%= notice %></p>

<p>
  <strong>User prof:</strong>
  <%= @diary.User_prof %>
</p>

<p>
  <strong>Title:</strong>
  <%= @diary.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @diary.content %>
</p>

<p>
  <strong>User prof:</strong>
  <%= @diary.user_prof_id %>
</p>

<%= link_to 'Edit', edit_diary_path(@diary) %> |
<%= link_to 'Back', diaries_path %>
